<div class="{{ course.course_id}} ui message">
    <h4>
        {{ course.name }}
    </h4>

    <div class="ui label" style="margin: 3px;">
        <i class="user icon"></i>
        {{ course.instructor }}
    </div>
    <div class="ui label" style="margin: 3px;">
        <i class="users icon"></i>
        {{ course.number_of_registered_students }}
    </div>
    <div class="ui label" style="margin: 3px;">
        <i class="dollar sign icon"></i>
        {% if course.cost == 0 %}
        Free
        {% else %}
        {{ course.cost }}
        {% endif %}
    </div>
    {% if course.ex_len %}
    <div class="ui label" style="margin: 3px;">
        <i class="calendar alternate icon"></i>
        {{ course.ex_len }}
    </div>
    {% endif %}

    <br/>
    <hr/>
    {% if course not in registered_courses.all %}
        <a class="add ui mini green button" href="{% url 'register_course' course.course_id %}">
            <i class="add icon"></i>
            Register in course
        </a>
    {% else %}
        <a class="remove ui mini red button" href="{% url 'remove_course' course.course_id %}">
            <i class="trash icon"></i>
            Drop the course
        </a>
    {% endif %}
    <a class="details ui mini brown button" href="{% url 'course_page' course.course_id %}">
        <i class="file alternate icon"></i>
        Course page
    </a>
</div>
