<a id="homepage" class="ui item{% if active_tab == '/' %} active{% endif %}" href="/">خانه</a>

{% if not request.user.is_authenticated %}
    <a href="{% url 'login' %}" id="login" class="ui item{% if active_tab == 'login' %} active{% endif %}">ورود</a>
    <a href="{% url 'register' %}" id="register" class="ui item{% if active_tab == 'register' %} active{% endif %}">ثبت‌نام</a>
{% else %}
    <a  href="{% url 'profile' %}"
        id="profile"
        class="ui item{% if active_tab == 'profile' %} active{% endif %}">
        نمایه
    </a>
{% endif %}

{% if request.user.is_authenticated %}
    <div class="right menu">
        <a id="logout" class="ui item" href="{% url 'logout' %}">
            خروج
        </a>
    </div>
{% endif %}
