<a id="homepage" class="ui item{% if active_tab == '' %} active{% endif %}" href="/">Home</a>

{% if not request.user.is_authenticated %}
    <a href="{% url 'login' %}" id="login" class="ui item{% if active_tab == 'login' %} active{% endif %}">Login</a>
    <a href="{% url 'register' %}" id="register" class="ui item{% if active_tab == 'register' %} active{% endif %}">Register</a>
{% else %}
    <a  href="{% url 'profile' %}"
        id="profile"
        class="ui item{% if active_tab == 'profile' %} active{% endif %}">
        Profile
    </a>
    <a  href="{% url 'edit_profile' %}"
        id="edit"
        class="ui item{% if active_tab == 'edit_profile' %} active{% endif %}">
        Edit profile
    </a>
{% endif %}

<a href="{% url 'courses' %}" id="courses" style="margin-top: 5px;"
       class="ui large green button">
        <i class="book icon"></i>
        All Courses
</a>

{% if request.user.is_authenticated %}
    <a href="{% url 'make_new_course' %}" id="create course" class="ui item{% if active_tab == 'make_new_course' %} active{% endif %}">Create a course</a>

    <div class="right menu">
        <a id="logout" class="ui item" href="{% url 'logout' %}">
            Logout
        </a>
    </div>
{% endif %}
