{% extends 'base.html' %}

{% block tabs %}
    {% include 'includes/tabs.html' with active_tab='panel' %}
{% endblock %}

{% block title %}
    courses
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div>
        <h1>all courses</h1>
        <div class="ui breadcrumb">
            <a class="section" href="{% url 'home' %}">home</a>
            <i class="right angle icon divider"></i>
            <div class="active section">
                all courses
            </div>
        </div>
    </div>

    <div id="all_courses">
        <h3>all courses</h3>
        {% for course in all_courses.all %}
            {% if course not in my_courses.all and course not in registered_courses.all %}
                {% include 'includes/course.html' with course=course %}
            {% endif %}
        {% endfor %}
    </div>
    <br/>
    <div id="my_courses">
        <h3>my courses</h3>
        {% for course in my_courses.all %}
            {% include 'includes/course.html' with course=course %}
        {% endfor %}
    </div>
    <br/>
    <div id="registered_courses">
        <h3>registered courses</h3>
        {% for course in registered_courses.all %}
            {% include 'includes/course.html' with course=course %}
        {% endfor %}
    </div>
{% endblock %}