{% extends 'bare_base.html' %}

{% block title %}
    {{ course.name }}
{% endblock %}

{% block content %}
<div class="ui breadcrumb">
    <a class="section" href="{% url 'home' %}">home</a>
    <i class="fa fa-angle-right" style="margin: 5px;" aria-hidden="true"></i>
    <a class="section" href="{% url 'courses' %}">courses</a>
    <i class="fa fa-angle-right" style="margin: 5px;" aria-hidden="true"></i>
    <div class="active section">{{ course.name }}</div>
</div>
<div class="row">
<div class="col-md-9">
    <h1>{{ course.name }}</h1>
    <h2>Lectures</h2>
    {% for lec in lectures %}
        <h3>{{ lec.name }}</h3>
        <p>{{ lec.text }}</p>
    {% endfor %}
    <h2>Exams / Tasks</h2>
    {% for ex in exams %}
        <h3>{{ ex.name }}</h3>
        <p>
            Release date: {{ ex.release_date }}
            Deadline: {{ ex.deadline_date }}
            <a href="./exam/{{ex.id}}" class="btn btn-primary">View</a>
        </p>
    {% endfor %}
    {% if rule == "instructor" %}
    <a href="./session/add" class="btn btn-primary">Add session</a>
    <a href="./exam/add" class="btn btn-primary">Add exam / task</a>
    {% endif %}
    {% if rule == "anonymous" %}
    <a href="./register" class="btn btn-primary">Register in course</a>
    {% endif %}
    {% if rule == "student" %}
    <a href="./remove" class="btn btn-primary">Drop the course</a>
    {% endif %}
</div>
<div class="col-md-3">
    <h3>Instructor</h3>
    <ul><li>{{ course.instructor }}</li></ul>
    <h3>Students</h3>
    <ul>
        {% for student in students %}
        <li>{{ student }}</li>
        {% endfor %}
    </ul>
</div>
</div>
{% endblock %}
