{% extends 'bare_base.html' %}

{% block title %}
    {{ exam.name }}
{% endblock %}

{% block content %}
<div class="ui breadcrumb">
    <a class="section" href="{% url 'home' %}">home</a>
    <i class="fa fa-angle-right" style="margin: 5px;" aria-hidden="true"></i>
    <a class="section" href="{% url 'courses' %}">courses</a>
    <i class="fa fa-angle-right" style="margin: 5px;" aria-hidden="true"></i>
    <a class="section" href="../">{{ exam.course.name }}</a>
    <i class="fa fa-angle-right" style="margin: 5px;" aria-hidden="true"></i>
    <div class="active section">{{ exam.name }}</div>
</div>
<div class="row">
<div class="col-md-9">
    <h1>{{ exam.name }}</h1>
    <h2>Questions</h2>
    {% if rule == "instructor" %}
    <a href="./question/add" class="btn btn-primary">Add question</a>
    {% endif %}
</div>
<div class="col-md-3">
    {% if time_state == "before_release" %}
    <h3>Not released yet</h3>
    <p>Time to release: {{ exam.release_date|timeuntil }}</p>
    {% elif time_state == "before_deadline" %}
    <h3>Currently active</h3>
    <p>Time to deadline: {{ exam.deadline_date|timeuntil }}</p>
    {% else %}
    <h3>Time is over</h3>
    <p>Time past from deadline: {{ exam.deadline_date|timesince }}</p>
    {% endif %}
</div>
</div>
{% endblock %}
