{% extends 'base.html' %}

{% block tabs %}
    {% include 'includes/tabs.html' with active_tab='register' %}
{% endblock %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <div id="form">
        <form id="register_form" class="ui small form" method="post" action="/register">
            <h1>‌Register</h1>

            <div class="ui breadcrumb">
                <a class="section" href="{% url 'home' %}">Home</a>
                <i class="right angle icon divider"></i>
                <div class="active section">‌Register</div>
            </div>

            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="ui fluid large teal submit button" name="submit">Register</button>

            <div class="ui error message"></div>
        </form>
    </div>
    <div id="errors">
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="ui negative message">
                <i class="close icon"></i>
                <div class="header">
                    Error
                </div>
                <p>{{ error|escape }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}